h1{
    color: rgb(10, 184, 241);
}
.next{
    display: inline-block;
    text-align: center;
    background-color:lightblue;
    color: white;
    margin: 2px;
    padding: 5px;

}
.onTop{
    display: block;
    margin: auto;
}
.center{
    text-align: center;
}