h1{
    color: rgb(10, 184, 241);
}
.next{
    display: inline-block;
    text-align: center;
    background-color:lightblue;
    color: white;
    margin: 6px;
    padding: 5px;
    height: 250px;
    font: 1.5em;

}
.onTop{
    display: block;
    margin: auto;
}
.center{
    text-align: center;
}
.btnColor{
    background-color: lightblue;
    color: rgb(10, 184, 241);
    font-weight: 700;
}
#searchArea{
    margin-left:85px;
}
